@{
    ViewData["Title"] = "Home Page";
}

<img src="/images/sunset-3662954.jpg" />
<header class="header">
    <h1>Project Horizon</h1>
    <p>Our work -- Our future</p>
</header>

<div class="container mt-5">
    <div class="row text-center">
        <div class="col">
            <h1 class="display-4">Welcome to Project Horizon</h1>
            <p class="lead">Innovating the Future, One Step at a Time</p>
        </div>
    </div>

    <div class="row text-center mt-5">
        <div class="col-md-4">
            <i class="fas fa-bullseye fa-3x"></i>
            <h3>Our Mission</h3>
            <p>To create a sustainable future through innovation and excellence in technology.</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-lightbulb fa-3x"></i>
            <h3>Our Vision</h3>
            <p>Empowering businesses with cutting-edge solutions for a brighter tomorrow.</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-users fa-3x"></i>
            <h3>Join Us</h3>
            <p>Be a part of a revolution in technology. Together, we can make a difference.</p>
        </div>
    </div>

    <div class="row mt-5 text-center">
        <div class="col">
            <a href="#" class="btn btn-primary btn-lg">Learn More</a>
        </div>
    </div>
</div>
